:root {
  --white: #ffffff;
  --black: #000000;
  --quattrocento: "Quattrocento Sans", sans-serif;
  --raleway: "Raleway", sans-serif;
}

/* (1rem = 10px) */
html {
  font-size: 62.5%; /* font-size base a nivel de html */
  box-sizing: border-box; /* CSS Box Model */
}

*,
*:before,
*:after {
  box-sizing: inherit; /* CSS Box Model */
}

body {
  background-color: #eceaea;
}

/* Globales */
.container {
  /* max-width: 120rem;
    width: 90%; */
  width: min(90%, 120rem);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--raleway);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem !important;
}

h2 {
  font-size: 4rem !important;
}

h3 {
  font-size: 3.2rem !important;
}

h4 {
  font-size: 2.8rem !important;
}

p {
  font-family: var(--quattrocento);
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

/* Utilidades (utility classes) */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.flex-col-rev {
  flex-direction: column-reverse;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.just-center {
  justify-content: center;
}

.just-around {
  justify-content: space-around;
}

.just-between {
  justify-content: space-between;
}

.just-evenly {
  justify-content: space-evenly;
}

.border-top {
  border-top: 1px solid rgb(219, 219, 219);
  box-shadow: 0px -4px 20px -4px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 0px -4px 20px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px -4px 20px -4px rgba(0, 0, 0, 0.48);
}


.border-radius-x-top {
  border-top: 1px solid rgb(219, 219, 219);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px -4px 20px -4px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 0px -4px 20px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px -4px 20px -4px rgba(0, 0, 0, 0.48);
}

.border-radius-x-bottom {
  border-bottom: 1px solid rgb(219, 219, 219);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  box-shadow: -1px 8px 5px 0px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: -1px 8px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -1px 8px 5px 0px rgba(0, 0, 0, 0.43);
}

/* animaciones */

/* Animación de crecimiento en hover (gracias a Avalojandro @ cattocss.com) */
/* Solo para laptops */
@media (min-width: 992px) {
  .grow {
    transition: 0.5s, color 0.1s;
    -webkit-transition: 0.5s, color 0.1s;
    -moz-transition: 0.5s, color 0.1s;
  }
  .grow:hover {
    transform: scale3d(1.1, 1.1, 0.3);
    -webkit-transform: scale3d(1.1, 1.1, 0.3);
    -moz-transform: scale3d(1.1, 1.1, 0.3);
  }
}

/* border shadow blink */
@keyframes blink {
  0% {
    box-shadow: 0 0 4rem grey;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 4rem grey;
  }
}
@-webkit-keyframes blink {
  0% {
    box-shadow: 0 0 4rem grey;
  }
  50% {
    box-shadow: 0 0 0;
  }
  100% {
    box-shadow: 0 0 4rem grey;
  }
}

@media (min-width: 768px) {
  .blink:hover {
    -webkit-animation: blink 1.2s linear infinite;
    -moz-animation: blink 1.2s linear infinite;
    -ms-animation: blink 1.2s linear infinite;
    -o-animation: blink 1.2s linear infinite;
    animation: blink 1.2s linear infinite;
  }
}

/* header */

.header {
  background-color: var(--white);
  padding: 1rem 0 1rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 520px) {
  .header-contents {
    justify-content: center;
    column-gap: 4rem;
  }
}
.logo {
  height: 10rem;
}

@media (min-width: 768px) {
  .logo {
    height: 15vh;
  }
}

.site-title {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1rem;
}

@media (max-width: 399px) {
  .site-title {
    font-size: 3.3rem !important;
  }
}

@media (min-width: 399px) {
  .site-subtitle {
    font-size: 2rem !important;
  }
}

@media (min-width: 768px) {
  .site-title {
    font-size: 5rem !important;
  }
  .site-subtitle {
    font-size: 2.3rem !important;
  }
}

@media (min-width: 992px) {
  .site-title {
    font-size: 5.8rem !important;
  }
  .site-subtitle {
    font-size: 2.5rem !important;
  }
}

/* main */

.main {
  padding: 2rem 1rem 2rem 1rem;
}

.items {
  display: flex;
  flex-direction: column;
}

@media (min-width: 668px) {
  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 991px) {
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1260px) {
  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.item {
  background-color: #fdfbfb;
  height: fit-content;
  margin: 4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 1px solid rgb(214, 213, 213);
  border-radius: 5%;
  /* sombrita: */
  box-shadow: 0px 0px 12px 0px grey;
  -webkit-box-shadow: 0px 0px 12px 0px grey;
  -moz-box-shadow: 0px 0px 12px 0px grey;
}

@media (max-width: 768px) {
  .item {
    /* sombrita: */
    box-shadow: -1px 16px 50px -3px grey;
    -webkit-box-shadow: -1px 16px 50px -3px grey;
    -moz-box-shadow: -1px 16px 50px -3px grey;
  }
}

.item img {
  border-radius: 5%;
}

.wa-button {
  color: var(--white);
  background-color: green;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 1px solid grey;
  border-radius: 1.5rem;
  /* sombrita: */
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wa-button-text {
  font-size: 1.7rem;
  font-weight: bold;
}

@media (min-width: 399px) {
  .data-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 521px) {
  .data-text {
    font-size: 2rem;
  }
}

/* footer */

.footer {
  background-color: #ececec;
  position: relative;
  bottom: 0;
  margin-bottom: -3rem;
  padding: 2rem;
}

.footer-contents{
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
